<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/fluency/48/000000/natural-food.png">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
    <style>
        body {
          background-image: url('https://stories.flores.unu.edu/fostering-action-for-biodiversity/assets/uRBjFJwes9/fallback-1920x1080.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>

</head>


<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">

	<div class="h-screen pb-14 bg-right bg-cover">
		<!--Nav-->
		<div class="w-full container mx-auto p-6">


		</div>

		<!--Main-->
		<div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
				<center><h1
					class="my-4 text-3xl md:text-5xl text-green-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">
					DIGITAL NATURALIST</h1>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">
					An Artificial Intelligence powered tool for Bio-Diversity Researchers</p>
                <!--************************************************************************************-->
                <section class="ftco-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <div class="wrap">
                                    <div class="img" style="background-image: url(images/bg-1.jpg);"></div>
                                    <div class="login-wrap p-4 p-md-5">
                                  <div class="d-flex">
                                      <div class="w-100">
                                          <h3 class="mb-4">SIGN IN</h3>
                                      </div>
                                  </div>
                                        <form action="#" class="signin-form">
                                      <div class="form-group mt-3">
                                          <input type="text" class="form-control" placeholder="Enter Username" required>
                                          <label class="form-control-placeholder" for="username" placeholder="Username">

                                          </label>
                                      </div>
                                <div class="form-group">
                                    <br>
                                  <input id="password-field" type="password" class="form-control" placeholder="Enter Password" required>
                                  <label class="form-control-placeholder" for="password"></label>
                                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <br>

                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"><a href="/home">SIGN IN</a></button>
                                </div>
                              </form>
                              <p class="text-center">Not a member? <a data-toggle="tab" href="/signup.html">Sign Up</a></p>
                            </div>
                          </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--****************************************************************-->

				</center>
			</div>
		</div>
	</div>
</body>
</html>
